Repository openvinotoolkit/openvino_contrib: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)/../openvino
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)/../openvino
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      PYTHON_ARM_VERSION: 3.8.12
      PYTHON_EXEC: python3.8
      OPENVINO_ARCH: aarch64
      NUM_PROC: 1
  ...

.ci/azure/linux_coverity_arm64.yml:
  jobs:
  - job: linux_coverity_arm64
    timeoutInMinutes: 90
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: NVIDIAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    strategy:
      matrix:
        x86_64:
          CMAKE_OSX_ARCHITECTURES: x86_64
    timeoutInMinutes: 240
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
  ...

.ci/azure/windows.yml:
  jobs:
  - job: Win
    timeoutInMinutes: 90
    pool:
      name: WIN_VMSS_VENV_F8S_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)\..\openvino
  ...

[GHA] Update OV refs to 2024.4
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[GHA] Update OV refs to 2024.4 (#930)
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Use python 3.9 for llama.cpp plugin test step
  .github/workflows/llama_cpp_plugin_build_and_test.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Use full commit ID
  .github/workflows/llama_cpp_plugin_build_and_test.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update .github/workflows/llama_cpp_plugin_build_and_test.yml
  .github/workflows/llama_cpp_plugin_build_and_test.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

fix npm audit issues
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
  modules/openvino_code/server/pyproject.toml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Remove usage of deprecated get_ie_output_name() function
  modules/nvidia_plugin/src/ops/result.cpp
Due: .ci/azure/linux_cuda.yml

fix OPENVINO_DEBUG
  modules/llama_cpp_plugin/src/compiled_model.cpp
  modules/llama_cpp_plugin/src/infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

fix ;
  modules/llama_cpp_plugin/src/compiled_model.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Updated to the latest diffusers version. Handled vae decoder as well
  modules/token_merging/tomeov/stable_diffusion.py
  modules/token_merging/tomeov/utils.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Updated to the latest diffusers version. Handled vae decoder as well
  modules/token_merging/tomeov/stable_diffusion.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Fixed requirements
  modules/token_merging/setup.py
  modules/token_merging/tomeov/stable_diffusion.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Fixed TOME tests
  .github/workflows/token_merging.yml
  modules/token_merging/tests/test_precommit.py
  modules/token_merging/tomeov/openclip.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Token merging updates (#934)
  .github/workflows/token_merging.yml
  modules/token_merging/setup.py
  modules/token_merging/tests/test_precommit.py
  modules/token_merging/tomeov/openclip.py
  modules/token_merging/tomeov/stable_diffusion.py
  modules/token_merging/tomeov/utils.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[GHA] Dynamic OV ref
  .github/workflows/history_cuda.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[GHA] Dynamic OV ref (#937)
  .github/workflows/history_cuda.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

fixing vulnerabilities
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
  modules/openvino_code/server/pyproject.toml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

fixing vulnerabilities (#940)
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
  modules/openvino_code/server/pyproject.toml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

IPAS Security Scan - update versions of dependencies
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

IPAS Security Scan - update versions of dependencies (#941)
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Update Jinja to 3.1.5 version
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/requirements.txt
  modules/nvidia_plugin/utils/shape-extractor/requirements.txt
Due: .ci/azure/linux_cuda.yml

Update Jinja to 3.1.5 version (#942)
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/requirements.txt
  modules/nvidia_plugin/utils/shape-extractor/requirements.txt
Due: .ci/azure/linux_cuda.yml

update OV and transformer version
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
  modules/openvino_code/server/pyproject.toml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Remove undefined from switches as it generates compile warning/error Use dynamic type instead
  modules/java_api/src/main/cpp/jni_common.hpp
  modules/nvidia_plugin/src/cuda_config.hpp
  modules/nvidia_plugin/src/cuda_operation_base.hpp
  modules/nvidia_plugin/src/ops/gather.cpp
  modules/nvidia_plugin/src/ops/scatter_nd_update.cpp
  modules/nvidia_plugin/src/ops/split.cpp
  modules/nvidia_plugin/src/ops/variadic_split.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/ov_finite_comparer.cpp
  modules/nvidia_plugin/tests/unit/memory_manager/cuda_memory_manager_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Change debug prints to function syntax
  modules/llama_cpp_plugin/src/compiled_model.cpp
  modules/llama_cpp_plugin/src/infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Change debug prints to function syntax (#946)
  modules/llama_cpp_plugin/src/compiled_model.cpp
  modules/llama_cpp_plugin/src/infer_request.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

GHA: fixed install rules
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

GHA: fixed install rules (#947)
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Remove undefined from switches as it generates compile warning/error (#945)
  modules/java_api/src/main/cpp/jni_common.hpp
  modules/nvidia_plugin/src/cuda_config.hpp
  modules/nvidia_plugin/src/cuda_operation_base.hpp
  modules/nvidia_plugin/src/ops/gather.cpp
  modules/nvidia_plugin/src/ops/scatter_nd_update.cpp
  modules/nvidia_plugin/src/ops/split.cpp
  modules/nvidia_plugin/src/ops/variadic_split.cpp
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/ov_finite_comparer.cpp
  modules/nvidia_plugin/tests/unit/memory_manager/cuda_memory_manager_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

GHA: fixed llama.cpp paths
  .github/workflows/llama_cpp_plugin_build_and_test.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

GHA: fixed llama.cpp paths (#948)
  .github/workflows/llama_cpp_plugin_build_and_test.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

update OV and transformer version (#943)
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
  modules/openvino_code/server/pyproject.toml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

only source files
  modules/java_api/bin/main/org/intel/openvino/Any.class
  modules/java_api/bin/main/org/intel/openvino/CompiledModel.class
  modules/java_api/bin/main/org/intel/openvino/Core.class
  modules/java_api/bin/main/org/intel/openvino/Dimension.class
  modules/java_api/bin/main/org/intel/openvino/ElementType.class
  modules/java_api/bin/main/org/intel/openvino/InferRequest.class
  modules/java_api/bin/main/org/intel/openvino/InputInfo.class
  modules/java_api/bin/main/org/intel/openvino/InputModelInfo.class
  modules/java_api/bin/main/org/intel/openvino/InputTensorInfo.class
  modules/java_api/bin/main/org/intel/openvino/Layout.class
  modules/java_api/bin/main/org/intel/openvino/Model.class
  modules/java_api/bin/main/org/intel/openvino/NativeLibrary.class
  modules/java_api/bin/main/org/intel/openvino/Openvino.class
  modules/java_api/bin/main/org/intel/openvino/Output.class
  modules/java_api/bin/main/org/intel/openvino/OutputInfo.class
  modules/java_api/bin/main/org/intel/openvino/PartialShape.class
  modules/java_api/bin/main/org/intel/openvino/PrePostProcessor.class
  modules/java_api/bin/main/org/intel/openvino/PreProcessSteps.class
  modules/java_api/bin/main/org/intel/openvino/ResizeAlgorithm.class
  modules/java_api/bin/main/org/intel/openvino/Tensor.class
  modules/java_api/bin/main/org/intel/openvino/Wrapper.class
  modules/java_api/bin/test/org/intel/openvino/CompiledModelTests.class
  modules/java_api/bin/test/org/intel/openvino/CoreTests$1.class
  modules/java_api/bin/test/org/intel/openvino/CoreTests.class
  modules/java_api/bin/test/org/intel/openvino/ModelTests.class
  modules/java_api/bin/test/org/intel/openvino/OVTest$1.class
  modules/java_api/bin/test/org/intel/openvino/OVTest.class
  modules/java_api/bin/test/org/intel/openvino/OpenvinoTests.class
  modules/java_api/bin/test/org/intel/openvino/PrePostProcessorTests.class
  modules/java_api/bin/test/org/intel/openvino/TensorTests.class
  modules/java_api/bin/test/org/intel/openvino/TestsSuite.class
  modules/java_api/samples/face_detection_java_sample_async/build.gradle
  modules/java_api/samples/face_detection_java_sample_async/settings.gradle
  modules/java_api/samples/face_detection_java_sample_async/src/main/java/Main.java
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update tensor pointer cast
  modules/custom_operations/user_ie_extensions/calculate_grid.cpp
  modules/custom_operations/user_ie_extensions/complex_mul.cpp
  modules/custom_operations/user_ie_extensions/fft.cpp
  modules/custom_operations/user_ie_extensions/grid_sample.cpp
  modules/custom_operations/user_ie_extensions/sparse_conv.cpp
  modules/custom_operations/user_ie_extensions/sparse_conv_transpose.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Experiment with action cache
  .github/workflows/linux.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update actions cache for mac and windows
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update java test
  modules/java_api/src/test/java/org/intel/openvino/CompiledModelTests.java
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update java tests
  modules/java_api/src/test/java/org/intel/openvino/CompiledModelTests.java
  modules/java_api/src/test/java/org/intel/openvino/ModelTests.java
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update code style
  .github/workflows/code_style.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/linux_arm64.yml: any file but: modules/nvidia_plugin
  .ci/azure/linux_coverity_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux_cuda.yml: any of: modules/nvidia_plugin, .ci/azure/linux_cuda.yml, but not: modules/openvino_code
  .ci/azure/mac.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/windows.yml: any file but: modules/nvidia_plugin, modules/openvino_code
