Repository openvinotoolkit/openvino_contrib: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)/../openvino
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)/../openvino
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      PYTHON_ARM_VERSION: 3.8.12
      PYTHON_EXEC: python3.8
      OPENVINO_ARCH: aarch64
      NUM_PROC: 1
  ...

.ci/azure/linux_coverity_arm64.yml:
  jobs:
  - job: linux_coverity_arm64
    timeoutInMinutes: 90
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: NVIDIAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    strategy:
      matrix:
        x86_64:
          CMAKE_OSX_ARCHITECTURES: x86_64
    timeoutInMinutes: 240
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
  ...

.ci/azure/windows.yml:
  jobs:
  - job: Win
    timeoutInMinutes: 90
    pool:
      name: WIN_VMSS_VENV_F8S_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)\..\openvino
  ...

[Openvino code] fixed vulnerability issue - updated transformers version (#877)
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
  modules/openvino_code/server/pyproject.toml
  modules/openvino_code/shared/model.ts
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Remove use of `ov_helpers.hpp`
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/ov_finite_comparer.cpp
Due: .ci/azure/linux_cuda.yml

Remove use of `ov_helpers.hpp` (#878)
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/ov_finite_comparer.cpp
Due: .ci/azure/linux_cuda.yml

Get rid of `ov_models`
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_test.cpp
Due: .ci/azure/linux_cuda.yml

Bump up `fastapi` version
  modules/openvino_code/server/pyproject.toml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Get rid of `ov_models` (#879)
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_test.cpp
Due: .ci/azure/linux_cuda.yml

changed model location to open source
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
  modules/openvino_code/shared/model.ts
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

upgraded Openvino, optimum, optimum-intel versions
  modules/openvino_code/server/pyproject.toml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Bump up `fastapi` version (#880)
  modules/openvino_code/server/pyproject.toml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

[Openvino code] Fix deepseek coder model run for fill-in-middle mode (#881)
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
  modules/openvino_code/server/pyproject.toml
  modules/openvino_code/shared/model.ts
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

disable CMAKE_COMPILE_WARNING_AS_ERROR for nvidia plugin
  modules/nvidia_plugin/CMakeLists.txt
Due: .ci/azure/linux_cuda.yml

add print
  modules/nvidia_plugin/CMakeLists.txt
Due: .ci/azure/linux_cuda.yml

Get partial shape from output
  modules/java_api/src/main/cpp/openvino_java.hpp
  modules/java_api/src/main/cpp/output.cpp
  modules/java_api/src/main/cpp/partial_shape.cpp
  modules/java_api/src/main/java/org/intel/openvino/Output.java
  modules/java_api/src/main/java/org/intel/openvino/PartialShape.java
  modules/java_api/src/test/java/org/intel/openvino/ModelTests.java
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Add workflow
  .github/workflows/assign_issue.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Add workflow (#885)
  .github/workflows/assign_issue.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

modifying readme file
  modules/openvino_code/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

added gif file to show fill-in-the-middle feature
  modules/openvino_code/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

add device options on Frontend and Backend
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
  modules/openvino_code/server/main.py
  modules/openvino_code/server/src/generators.py
  modules/openvino_code/shared/side-panel-message.ts
  modules/openvino_code/side-panel-ui/src/components/sections/ServerSection/ServerSection.tsx
  modules/openvino_code/src/configuration.ts
  modules/openvino_code/src/python-server/python-server-runner.ts
  modules/openvino_code/src/side-panel/side-panel-message-handler.ts
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

ci cleanup
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

3rd-parties cleanup
  third-party-programs.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Do not use opset in transformation tests
  modules/nvidia_plugin/tests/unit/transformations/bidirectional_lstm_sequence_composition.cpp
  modules/nvidia_plugin/tests/unit/transformations/concat_transformation.cpp
  modules/nvidia_plugin/tests/unit/transformations/cuda_transformations_test.cpp
  modules/nvidia_plugin/tests/unit/transformations/detection_output_fix_input_types.cpp
  modules/nvidia_plugin/tests/unit/transformations/fuse_matmul_add.cpp
  modules/nvidia_plugin/tests/unit/transformations/reduce_transformation.cpp
  modules/nvidia_plugin/tests/unit/transformations/remove_redundant_convert_transformation.cpp
Due: .ci/azure/linux_cuda.yml

Revert "ci cleanup"
  .ci/azure/linux.yml
  .ci/azure/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

update fill-in-middle-mode support steps in the readme
  modules/openvino_code/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

[OPENVINO CODE] modify readme file to include fill-in-the-middle feature (#886)
  modules/openvino_code/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Do not use opset in transformation tests (#888)
  modules/nvidia_plugin/tests/unit/transformations/bidirectional_lstm_sequence_composition.cpp
  modules/nvidia_plugin/tests/unit/transformations/concat_transformation.cpp
  modules/nvidia_plugin/tests/unit/transformations/cuda_transformations_test.cpp
  modules/nvidia_plugin/tests/unit/transformations/detection_output_fix_input_types.cpp
  modules/nvidia_plugin/tests/unit/transformations/fuse_matmul_add.cpp
  modules/nvidia_plugin/tests/unit/transformations/reduce_transformation.cpp
  modules/nvidia_plugin/tests/unit/transformations/remove_redundant_convert_transformation.cpp
Due: .ci/azure/linux_cuda.yml

Revert README
  modules/custom_operations/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update PartialShape getDimension to align with C++ API
  modules/java_api/src/main/cpp/partial_shape.cpp
  modules/java_api/src/main/java/org/intel/openvino/PartialShape.java
  modules/java_api/src/test/java/org/intel/openvino/ModelTests.java
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Use pointer arithmetic to access Partial Shape dimension
  modules/java_api/src/main/cpp/partial_shape.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Remove redundant delete method
  modules/java_api/src/main/cpp/dimension.cpp
  modules/java_api/src/main/cpp/openvino_java.hpp
  modules/java_api/src/main/java/org/intel/openvino/Dimension.java
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Revert "Use pointer arithmetic to access Partial Shape dimension"
  modules/java_api/src/main/cpp/partial_shape.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update yml
  .github/ISSUE_TEMPLATE/good_first_issue.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update yml (#890)
  .github/ISSUE_TEMPLATE/good_first_issue.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[JAVA_API] Wrapper for ov::PartialShape (#883)
  modules/java_api/src/main/cpp/dimension.cpp
  modules/java_api/src/main/cpp/openvino_java.hpp
  modules/java_api/src/main/cpp/output.cpp
  modules/java_api/src/main/cpp/partial_shape.cpp
  modules/java_api/src/main/java/org/intel/openvino/Dimension.java
  modules/java_api/src/main/java/org/intel/openvino/Output.java
  modules/java_api/src/main/java/org/intel/openvino/PartialShape.java
  modules/java_api/src/test/java/org/intel/openvino/ModelTests.java
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

adding phi-2 model
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
  modules/openvino_code/shared/model.ts
  modules/openvino_code/side-panel-ui/src/components/sections/ServerSection/ModelSelect/ModelSelect.tsx
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

adding phi-2 model (#893)
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
  modules/openvino_code/shared/model.ts
  modules/openvino_code/side-panel-ui/src/components/sections/ServerSection/ModelSelect/ModelSelect.tsx
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Adjust workflow.yml
  .github/workflows/llama_cpp_plugin_build_and_test.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/linux_arm64.yml: any file but: modules/nvidia_plugin
  .ci/azure/linux_coverity_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux_cuda.yml: any of: modules/nvidia_plugin, .ci/azure/linux_cuda.yml, but not: modules/openvino_code
  .ci/azure/mac.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/windows.yml: any file but: modules/nvidia_plugin, modules/openvino_code
