Repository openvinotoolkit/openvino_contrib: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)/../openvino
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)/../openvino
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      PYTHON_ARM_VERSION: 3.8.12
      PYTHON_EXEC: python3.8
      OPENVINO_ARCH: aarch64
      NUM_PROC: 1
  ...

.ci/azure/linux_coverity_arm64.yml:
  jobs:
  - job: linux_coverity_arm64
    timeoutInMinutes: 90
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: NVIDIAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    strategy:
      matrix:
        x86_64:
          CMAKE_OSX_ARCHITECTURES: x86_64
    timeoutInMinutes: 240
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
  ...

.ci/azure/windows.yml:
  jobs:
  - job: Win
    timeoutInMinutes: 90
    pool:
      name: WIN_VMSS_VENV_F8S_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)\..\openvino
  ...

Creare SPDA operation for prefill case
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Finalize PagedAttention implementation
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update nvidia_plugin - tests jinja2 version
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/generator/requirements.txt
Due: .ci/azure/linux_cuda.yml

Added framework map to map to PyTorch module
  modules/custom_operations/user_ie_extensions/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/ov_extension.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Use Tensor::set_shape instead of view
  modules/custom_operations/tests/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

removed int8 from decicoder-1b-openvino model name
  modules/openvino_code/package.json
  modules/openvino_code/shared/model.ts
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

added deepseek-coder int-8 model
  modules/openvino_code/shared/model.ts
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Add Decomposed Strings Input Back
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[OPENVINO CODE] Added Fill-in-the-middle(FIM) support (#848)
  modules/openvino_code/README.md
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
  modules/openvino_code/shared/features.ts
  modules/openvino_code/shared/model.ts
  modules/openvino_code/side-panel-ui/src/components/sections/OverviewSection/OverviewSection.tsx
  modules/openvino_code/side-panel-ui/src/components/sections/ServerSection/ModelSelect/ModelSelect.tsx
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Revert "Disable proxy for nvidia plugin (#842)"
  modules/nvidia_plugin/src/CMakeLists.txt
Due: .ci/azure/linux_cuda.yml

Add ov::Exception wrapper
  modules/nvidia_plugin/src/error.cpp
Due: .ci/azure/linux_cuda.yml

Add ov::Exception wrapper (#869)
  modules/nvidia_plugin/src/error.cpp
Due: .ci/azure/linux_cuda.yml

Intermediate state
  modules/custom_operations/user_ie_extensions/paged_attention/attention_impl.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/cache_impl.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Add `opset1` in test
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
Due: .ci/azure/linux_cuda.yml

Replace `interpreterFunction` with `interpret_model`
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
Due: .ci/azure/linux_cuda.yml

Remove legacy test utils
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
Due: .ci/azure/linux_cuda.yml

[Tokenizers][TF FE] Fix MUSE conversion (#854)
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/tensorflow_translators.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Add Type Argument To Greedy Decoding (#858)
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/utils.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Remove legacy test utils (#871)
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
Due: .ci/azure/linux_cuda.yml

Revert "Remove legacy test utils (#871)"
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
Due: .ci/azure/linux_cuda.yml

Revert "Remove legacy test utils (#871)" (#872)
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
Due: .ci/azure/linux_cuda.yml

Passes accuracy
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

No explicit registration of frontend::OpExtension, removed unnecessary extension opset.
  modules/custom_operations/user_ie_extensions/ov_extension.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Use API 2.0 properties in Java tests
  modules/java_api/src/test/java/org/intel/openvino/CoreTests.java
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Use API 2.0 properties in Java tests (#874)
  modules/java_api/src/test/java/org/intel/openvino/CoreTests.java
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Remove print of performance
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Supported GQA, MQA
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

fixing vulnerability
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

fixing vulnerability (#875)
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Remove legacy test utils
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
Due: .ci/azure/linux_cuda.yml

microsoft/phi-1_5 works
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Suppport mistral with sliding_windows
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Fixed sliding_window
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Remove legacy test utils (#876)
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
Due: .ci/azure/linux_cuda.yml

Passing alibi_slopes and sliding_window to PagedAttension kernel
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Fixed overflow with maximal sliding_window
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

updated transformer version to 4.36.0
  modules/openvino_code/server/pyproject.toml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

changed version to be published from 0.0.9 to 0.0.10
  modules/openvino_code/package.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

changed openvino-code-completion version from 0.0.9 to 0.0.10
  modules/openvino_code/package-lock.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

model location change
  modules/openvino_code/shared/model.ts
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/linux_arm64.yml: any file but: modules/nvidia_plugin
  .ci/azure/linux_coverity_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux_cuda.yml: any of: modules/nvidia_plugin, .ci/azure/linux_cuda.yml, but not: modules/openvino_code
  .ci/azure/mac.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/windows.yml: any file but: modules/nvidia_plugin, modules/openvino_code
