Repository openvinotoolkit/openvino_contrib: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/linux_arm64.yml: any file but: modules/nvidia_plugin
  .ci/azure/linux_coverity_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux_cuda.yml: any of: modules/nvidia_plugin, .ci/azure/linux_cuda.yml, but not: modules/openvino_code
  .ci/azure/mac.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/windows.yml: any file but: modules/nvidia_plugin, modules/openvino_code

Use custom LayerNorm for OV
  modules/3d/OV-SAM-6D/SAM-6D/Instance_Segmentation_Model/export_ism.py
  modules/3d/OV-SAM-6D/SAM-6D/Instance_Segmentation_Model/ov_sam_layer_norm.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Eigen library license added
  third-party-programs.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Fix GroupConvolution f16 test failures by using AverageFinder threshold (#1041)
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/group_convolution.cpp
Due: .ci/azure/linux_cuda.yml

Add functional tests for ShapeOf operation
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/shape_of.cpp
Due: .ci/azure/linux_cuda.yml

Add functional tests for ReadValue and Assign operations
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/read_value_assign.cpp
Due: .ci/azure/linux_cuda.yml

Add ConvertLike and SliceToStridedSlice passes for SDPA support
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.cpp
Due: .ci/azure/linux_cuda.yml

Implement ReadValue and Assign operations for stateful model support
  modules/nvidia_plugin/src/cuda_op_buffers_extractor.cpp
  modules/nvidia_plugin/src/cuda_op_buffers_extractor.hpp
  modules/nvidia_plugin/src/ops/assign.cpp
  modules/nvidia_plugin/src/ops/assign.hpp
  modules/nvidia_plugin/src/ops/read_value.cpp
  modules/nvidia_plugin/src/ops/read_value.hpp
  modules/nvidia_plugin/src/ops/subgraph.cpp
Due: .ci/azure/linux_cuda.yml

Add CudaVariableState, CudaVariableContext and wire into InferRequest
  modules/nvidia_plugin/src/cuda_infer_request.cpp
  modules/nvidia_plugin/src/cuda_infer_request.hpp
  modules/nvidia_plugin/src/cuda_inference_request_context.hpp
  modules/nvidia_plugin/src/cuda_variable_context.hpp
  modules/nvidia_plugin/src/cuda_variable_state.hpp
Due: .ci/azure/linux_cuda.yml

Implement ShapeOf operation for dynamic shape support
  modules/nvidia_plugin/src/ops/shape_of.cpp
  modules/nvidia_plugin/src/ops/shape_of.hpp
Due: .ci/azure/linux_cuda.yml

Add SDPA decomposition via OpenVINO built-in transformation
  modules/nvidia_plugin/src/transformer/cuda_graph_transformer.cpp
Due: .ci/azure/linux_cuda.yml

Add functional tests for SDPA (ScaledDotProductAttention)
  modules/nvidia_plugin/tests/functional/shared_tests_instances/single_layer_tests/scaled_dot_product_attention.cpp
Due: .ci/azure/linux_cuda.yml

Simplify DynamicOperation::executeReadValue
  modules/nvidia_plugin/src/cuda_dynamic_operation.cpp
Due: .ci/azure/linux_cuda.yml

Fix buffer ID collision for dynamic reshape-like nodes
  modules/nvidia_plugin/src/cuda_op_buffers_extractor.cpp
Due: .ci/azure/linux_cuda.yml

Reconcile dynamic-shape subsystem to llm split-API after rebase onto master
  modules/nvidia_plugin/src/cuda_compiled_model.hpp
  modules/nvidia_plugin/src/cuda_dynamic_buffer_context.hpp
  modules/nvidia_plugin/src/cuda_infer_request.cpp
  modules/nvidia_plugin/src/cuda_inference_request_context.hpp
  modules/nvidia_plugin/src/cuda_profiler.cpp
  modules/nvidia_plugin/src/cuda_shape_context.hpp
  modules/nvidia_plugin/src/memory_manager/cuda_memory_manager.cpp
  modules/nvidia_plugin/src/memory_manager/cuda_memory_manager.hpp
  modules/nvidia_plugin/src/ops/subgraph.cpp
  modules/nvidia_plugin/src/ops/tensor_iterator.cpp
  modules/nvidia_plugin/src/ops/tensor_iterator.hpp
  modules/nvidia_plugin/src/utils/lru_cache.hpp
  modules/nvidia_plugin/tests/unit/concat.cpp
  modules/nvidia_plugin/tests/unit/convert_benchmark.cpp
  modules/nvidia_plugin/tests/unit/cuda_graph_compatibility.cpp
  modules/nvidia_plugin/tests/unit/cuda_graph_topology_runner_test.cpp
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_test.cpp
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
  modules/nvidia_plugin/tests/unit/limits.cpp
  modules/nvidia_plugin/tests/unit/logical_not_benchmark.cpp
  modules/nvidia_plugin/tests/unit/memory_manager/cuda_memory_manager_test.cpp
  modules/nvidia_plugin/tests/unit/parameter.cpp
  modules/nvidia_plugin/tests/unit/pooling_tests.cpp
  modules/nvidia_plugin/tests/unit/relu.cpp
  modules/nvidia_plugin/tests/unit/result.cpp
  modules/nvidia_plugin/tests/unit/select_benchmark.cpp
  modules/nvidia_plugin/tests/unit/sigmoid_benchmark.cpp
  modules/nvidia_plugin/tests/unit/strided_slice_benchmark.cpp
Due: .ci/azure/linux_cuda.yml

Add fallback permutation kernel for GPUs unsupported by linked cuTENSOR
  modules/nvidia_plugin/src/kernels/permute_fallback.cu
  modules/nvidia_plugin/src/kernels/permute_fallback.hpp
  modules/nvidia_plugin/src/ops/transpose.cpp
  modules/nvidia_plugin/src/ops/transpose.hpp
Due: .ci/azure/linux_cuda.yml

Use EagerTopologyRunner for dynamic models
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
Due: .ci/azure/linux_cuda.yml

Add ScatterUpdate operation
  modules/nvidia_plugin/src/kernels/scatter_update.cu
  modules/nvidia_plugin/src/kernels/scatter_update.hpp
  modules/nvidia_plugin/src/ops/scatter_update.cpp
  modules/nvidia_plugin/src/ops/scatter_update.hpp
Due: .ci/azure/linux_cuda.yml

Wire dynamic ReadValue/Assign through DynamicOperation and fix variable state
  modules/nvidia_plugin/src/cuda_simple_execution_delegator.hpp
  modules/nvidia_plugin/src/cuda_variable_state.hpp
  modules/nvidia_plugin/src/ops/subgraph.cpp
Due: .ci/azure/linux_cuda.yml

Support boolean element type in StridedSlice
  modules/nvidia_plugin/src/kernels/strided_slice.cu
Due: .ci/azure/linux_cuda.yml

Fix DynamicOperation: reshape D2D copy, value-based cache, shape inference
  modules/nvidia_plugin/src/cuda_dynamic_operation.cpp
  modules/nvidia_plugin/src/cuda_dynamic_operation.hpp
Due: .ci/azure/linux_cuda.yml

added ov conversion to setup
  modules/openvino_flashocc/EXPORT_AND_INFERENCE_GUIDE.md
  modules/openvino_flashocc/convert_to_openvino.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/__init__.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/models/__init__.py
  modules/openvino_flashocc/setup.sh
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Adopt the #1039 dynamic-shape design: global op cache, unified buffer context
  modules/nvidia_plugin/src/cuda_compiled_model.hpp
  modules/nvidia_plugin/src/cuda_dynamic_buffer_context.hpp
  modules/nvidia_plugin/src/cuda_dynamic_operation.cpp
  modules/nvidia_plugin/src/cuda_dynamic_operation.hpp
  modules/nvidia_plugin/src/cuda_infer_request.cpp
  modules/nvidia_plugin/src/cuda_inference_request_context.hpp
  modules/nvidia_plugin/src/cuda_profiler.cpp
  modules/nvidia_plugin/src/cuda_shape_context.hpp
  modules/nvidia_plugin/src/cuda_simple_execution_delegator.hpp
  modules/nvidia_plugin/src/memory_manager/cuda_memory_manager.cpp
  modules/nvidia_plugin/src/memory_manager/cuda_memory_manager.hpp
  modules/nvidia_plugin/src/ops/assign.cpp
  modules/nvidia_plugin/src/ops/shape_of.cpp
  modules/nvidia_plugin/src/ops/tensor_iterator.cpp
  modules/nvidia_plugin/src/ops/tensor_iterator.hpp
  modules/nvidia_plugin/src/utils/lru_cache.hpp
  modules/nvidia_plugin/tests/unit/concat.cpp
  modules/nvidia_plugin/tests/unit/convert_benchmark.cpp
  modules/nvidia_plugin/tests/unit/cuda_graph_compatibility.cpp
  modules/nvidia_plugin/tests/unit/cuda_graph_topology_runner_test.cpp
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_test.cpp
  modules/nvidia_plugin/tests/unit/cuda_multi_graph_ti_test.cpp
  modules/nvidia_plugin/tests/unit/limits.cpp
  modules/nvidia_plugin/tests/unit/logical_not_benchmark.cpp
  modules/nvidia_plugin/tests/unit/memory_manager/cuda_memory_manager_test.cpp
  modules/nvidia_plugin/tests/unit/parameter.cpp
  modules/nvidia_plugin/tests/unit/pooling_tests.cpp
  modules/nvidia_plugin/tests/unit/relu.cpp
  modules/nvidia_plugin/tests/unit/result.cpp
  modules/nvidia_plugin/tests/unit/select_benchmark.cpp
  modules/nvidia_plugin/tests/unit/sigmoid_benchmark.cpp
  modules/nvidia_plugin/tests/unit/strided_slice_benchmark.cpp
Due: .ci/azure/linux_cuda.yml

docs: update gfx plugin documentation
  modules/gfx_plugin/.codex/skills/gfx-plugin-dev/SKILL.md
  modules/gfx_plugin/.codex/skills/gfx-plugin-docs/SKILL.md
  modules/gfx_plugin/.codex/skills/gfx-plugin-testing/SKILL.md
  modules/gfx_plugin/README.md
  modules/gfx_plugin/docs/ARCHITECTURE.md
  modules/gfx_plugin/docs/DEVELOPMENT.md
  modules/gfx_plugin/docs/TESTING.md
  modules/gfx_plugin/docs/USAGE.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Add fp32 dtype casts in OV ISM, ID auto-parsing, and deterministic PEM sampling
  modules/3d/OV-SAM-6D/SAM-6D/Instance_Segmentation_Model/infer_ism_ov.py
  modules/3d/OV-SAM-6D/SAM-6D/Instance_Segmentation_Model/run_inference_custom.py
  modules/3d/OV-SAM-6D/SAM-6D/Pose_Estimation_Model/run_inference_custom_openvino.py
  modules/3d/OV-SAM-6D/SAM-6D/setup_env.sh
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update SAM-6D docs and clean up third-party license entries
  README.md
  modules/3d/OV-SAM-6D/README.md
  modules/3d/OV-SAM-6D/SAM-6D/OV_README.md
  third-party-programs.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

fixed setup for 3.10
  modules/openvino_flashocc/setup.sh
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update Ubuntu references to 22.04 (#1068)
  .github/workflows/llama_cpp_plugin_build_and_test.yml
  .github/workflows/ollama_openvino_build_and_test.yml
  modules/llama_cpp_plugin/include/plugin.hpp
  modules/llama_cpp_plugin/src/plugin.cpp
  modules/llama_cpp_plugin/tests/common/include/model_fixture.hpp
  modules/nvidia_plugin/Dockerfile
  modules/nvidia_plugin/README.md
  modules/ollama_openvino/Dockerfile
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Ignore third-party CDPN fork in header check
  .licenserc.yaml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

docs: update gfx plugin documentation
  modules/gfx_plugin/.codex/skills/gfx-plugin-dev/SKILL.md
  modules/gfx_plugin/.codex/skills/gfx-plugin-testing/SKILL.md
  modules/gfx_plugin/README.md
  modules/gfx_plugin/docs/ARCHITECTURE.md
  modules/gfx_plugin/docs/DEVELOPMENT.md
  modules/gfx_plugin/docs/TESTING.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

removed data dependencies
  modules/openvino_flashocc/EXPORT_AND_INFERENCE_GUIDE.md
  modules/openvino_flashocc/README.md
  modules/openvino_flashocc/README_OV.md
  modules/openvino_flashocc/lib/dvr/dvr.cpp
  modules/openvino_flashocc/lib/dvr/dvr.cu
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/evaluation/ray_metrics.py
  modules/openvino_flashocc/run_compare_flashocc_pt_ov.py
  modules/openvino_flashocc/run_flashocc_ov.py
  modules/openvino_flashocc/run_flashocc_ov_latency.py
  modules/openvino_flashocc/run_flashocc_ov_ws.sh
  modules/openvino_flashocc/setup.sh
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

removed unused files
  modules/openvino_flashocc/projects/mmdet3d_plugin/__init__.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/__init__.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/bbox/__init__.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/bbox/coders/__init__.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/bbox/coders/centerpoint_bbox_coders.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/evaluation/__init__.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/evaluation/occ_metrics.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/evaluation/ray_metrics.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/evaluation/ray_pq.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/hook/__init__.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/hook/ema.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/hook/sequentialcontrol.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/hook/syncbncontrol.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/hook/utils.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/post_processing/__init__.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/core/post_processing/box3d_nms.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/models/__init__.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/models/dense_heads/__init__.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/models/dense_heads/bev_occ_head.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/models/losses/__init__.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/models/losses/cross_entropy_loss.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/models/losses/focal_loss.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/models/losses/lovasz_softmax.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/models/losses/semkitti_loss.py
  modules/openvino_flashocc/projects/mmdet3d_plugin/ops/bev_pool/src/bev_max_pool.cpp
  modules/openvino_flashocc/projects/mmdet3d_plugin/ops/bev_pool/src/bev_max_pool.h
  modules/openvino_flashocc/projects/mmdet3d_plugin/ops/bev_pool/src/bev_max_pool_cuda.cu
  modules/openvino_flashocc/projects/mmdet3d_plugin/ops/bev_pool/src/bev_pooling.cpp
  modules/openvino_flashocc/projects/mmdet3d_plugin/ops/bev_pool/src/bev_sum_pool.cpp
  modules/openvino_flashocc/projects/mmdet3d_plugin/ops/bev_pool/src/bev_sum_pool.h
  modules/openvino_flashocc/projects/mmdet3d_plugin/ops/bev_pool/src/bev_sum_pool_cuda.cu
  modules/openvino_flashocc/projects/mmdet3d_plugin/ops/nearest_assign/src/nearest_assign.cpp
  modules/openvino_flashocc/projects/mmdet3d_plugin/ops/nearest_assign/src/nearest_assign_cuda.cu
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Add missing third-party licenses and unify entry headers
  third-party-programs.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Add JSON manifest and generator for third-party-programs.txt
  .github/scripts/third-party-programs/README.md
  .github/scripts/third-party-programs/generate_third_party_programs.py
  .github/scripts/third-party-programs/licenses/nvidia-cuda-eula.txt
  .github/scripts/third-party-programs/third-party-programs.json
  .licenserc.yaml
  third-party-programs.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[ollama_openvino] Add VLMPipeline support for vision-language models
  modules/ollama_openvino/genai/genai.go
  modules/ollama_openvino/genai/runner/runner.go
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

cdpn fp16 enablement
  modules/3d/CDPN/ov_export.py
  modules/3d/CDPN/ov_infer.py
  modules/3d/CDPN/requirements.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml
