Repository openvinotoolkit/openvino_contrib: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)/../openvino
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)/../openvino
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      PYTHON_ARM_VERSION: 3.8.12
      PYTHON_EXEC: python3.8
      OPENVINO_ARCH: aarch64
      NUM_PROC: 1
  ...

.ci/azure/linux_coverity_arm64.yml:
  jobs:
  - job: linux_coverity_arm64
    timeoutInMinutes: 90
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: NVIDIAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    strategy:
      matrix:
        x86_64:
          CMAKE_OSX_ARCHITECTURES: x86_64
    timeoutInMinutes: 240
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
  ...

.ci/azure/windows.yml:
  jobs:
  - job: Win
    timeoutInMinutes: 90
    pool:
      name: WIN_VMSS_VENV_F8S_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)\..\openvino
  ...

changed cpack name
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

update init.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

updated test configurations
  .ci/azure/linux.yml
  .ci/azure/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[Tokenizers] Add Cpack Instructions (#838)
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Revert "changed cpack name"
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Revert "updated test configurations"
  .ci/azure/linux.yml
  .ci/azure/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Revert "update init.py"
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Revert "updated target name"
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Disable broken test
  modules/nvidia_plugin/tests/functional/skip_tests_config.cpp
Due: .ci/azure/linux_cuda.yml

[TOKENIZERS] Changed target name (#840)
  .ci/azure/linux.yml
  .ci/azure/windows.yml
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[Tokenizers] Add Cpack Instructions (#838) (#839)
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Revert Extension Name
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Disable broken test (#841)
  modules/nvidia_plugin/tests/functional/skip_tests_config.cpp
Due: .ci/azure/linux_cuda.yml

[TOKENIZERS] Changed target name (#837)
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Disable proxy for nvidia plugin
  modules/nvidia_plugin/src/CMakeLists.txt
Due: .ci/azure/linux_cuda.yml

Disable proxy for nvidia plugin (#842)
  modules/nvidia_plugin/src/CMakeLists.txt
Due: .ci/azure/linux_cuda.yml

Add minimal version for transformers library
  modules/custom_operations/pyproject.toml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Add minimal version for transformers library (#843)
  modules/custom_operations/pyproject.toml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Add minimal version for transformers library (#843) (#844)
  modules/custom_operations/pyproject.toml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Enable StableLM2 Tokenizer
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/pass_rates.json
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/tokenizers_test.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[CUDA] Merge, ph2
  modules/nvidia_plugin/src/cuda_graph_context.hpp
  modules/nvidia_plugin/src/ops/subgraph.hpp
Due: .ci/azure/linux_cuda.yml

[CUDA] Merge, ph3
  modules/nvidia_plugin/src/ops/tensor_iterator.hpp
Due: .ci/azure/linux_cuda.yml

[CUDA] Merge, ph4
  modules/nvidia_plugin/src/cuda_eager_topology_runner.cpp
Due: .ci/azure/linux_cuda.yml

[CUDA] Merge, ph5
  modules/nvidia_plugin/src/cuda_eager_topology_runner.cpp
Due: .ci/azure/linux_cuda.yml

[CUDA] Merge, ph6
  modules/nvidia_plugin/src/cuda_eager_topology_runner.cpp
Due: .ci/azure/linux_cuda.yml

Cuda graph (#846)
  modules/nvidia_plugin/src/cuda_eager_topology_runner.cpp
  modules/nvidia_plugin/src/cuda_eager_topology_runner.hpp
  modules/nvidia_plugin/src/cuda_graph_context.hpp
Due: .ci/azure/linux_cuda.yml

updated vite version to 4.5.2
  modules/openvino_code/package-lock.json
  modules/openvino_code/side-panel-ui/package.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

OV deprectaed ov::descriptor::Tensor construct with name
  modules/nvidia_plugin/tests/unit/result.cpp
Due: .ci/azure/linux_cuda.yml

Fix error
  modules/nvidia_plugin/tests/unit/result.cpp
Due: .ci/azure/linux_cuda.yml

Enable StableLM2 Tokenizer (#845)
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/hf_parser.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/pass_rates.json
  modules/custom_operations/user_ie_extensions/tokenizer/python/tests/tokenizers_test.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

OV deprectaed ov::descriptor::Tensor construct with name (#850)
  modules/nvidia_plugin/tests/unit/result.cpp
Due: .ci/azure/linux_cuda.yml

Throw Exception for Unexpected Type
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Throw Exception for Unexpected Type (#851)
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Allow to use DevPackage via OpenVINO_DIR
  modules/custom_operations/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Throw Exception for Unexpected Type (#852)
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Fix MUSE conversion
  modules/custom_operations/user_ie_extensions/tokenizer/tensorflow_translators.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/linux_arm64.yml: any file but: modules/nvidia_plugin
  .ci/azure/linux_coverity_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux_cuda.yml: any of: modules/nvidia_plugin, .ci/azure/linux_cuda.yml, but not: modules/openvino_code
  .ci/azure/mac.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/windows.yml: any file but: modules/nvidia_plugin, modules/openvino_code
