Repository openvinotoolkit/openvino_contrib: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

.ci/azure/android_arm64.yml:
  jobs:
  - job: android_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)/../openvino
  ...

.ci/azure/linux.yml:
  jobs:
  - job: Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)/../openvino
  ...

.ci/azure/linux_arm64.yml:
  jobs:
  - job: linux_arm64
    timeoutInMinutes: 120
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      PYTHON_ARM_VERSION: 3.8.12
      PYTHON_EXEC: python3.8
      OPENVINO_ARCH: aarch64
      NUM_PROC: 1
  ...

.ci/azure/linux_coverity_arm64.yml:
  jobs:
  - job: linux_coverity_arm64
    timeoutInMinutes: 90
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/linux_cuda.yml:
  jobs:
  - job: NVIDIAPlugin_Lin
    timeoutInMinutes: 60
    pool:
      name: LIN_VMSS_VENV_F16S_U20_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      HOME_DIR: $(Agent.HomeDirectory)
      REPO_DIR: $(Build.Repository.LocalPath)
  ...

.ci/azure/mac.yml:
  jobs:
  - job: Mac
    strategy:
      matrix:
        x86_64:
          CMAKE_OSX_ARCHITECTURES: x86_64
    timeoutInMinutes: 240
    pool:
      vmImage: macOS-11
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
  ...

.ci/azure/windows.yml:
  jobs:
  - job: Win
    timeoutInMinutes: 90
    pool:
      name: WIN_VMSS_VENV_F8S_WU2
    variables:
      system.debug: true
      VSTS_HTTP_RETRY: 5
      VSTS_HTTP_TIMEOUT: 200
      BUILD_TYPE: Release
      REPO_DIR: $(Build.Repository.LocalPath)
      OPENVINO_REPO_DIR: $(REPO_DIR)\..\openvino
  ...

[Deprecated API] Remove validation_util.hpp
  modules/nvidia_plugin/src/ops/convolution_components/convolution_components.cpp
  modules/nvidia_plugin/src/transformer/bidirectional_lstm_sequence_composition.cpp
Due: .ci/azure/linux_cuda.yml

preperties of executor config are changed to private
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
Due: .ci/azure/linux_cuda.yml

[Deprecated API] Remove validation_util.hpp (#855)
  modules/nvidia_plugin/src/ops/convolution_components/convolution_components.cpp
  modules/nvidia_plugin/src/transformer/bidirectional_lstm_sequence_composition.cpp
Due: .ci/azure/linux_cuda.yml

fix build issue
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
Due: .ci/azure/linux_cuda.yml

updated vite version to 4.5.2 (#849)
  modules/openvino_code/package-lock.json
  modules/openvino_code/side-panel-ui/package.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

[VSCode Extension] UI enhancements (#786)
  modules/openvino_code/README.md
  modules/openvino_code/package.json
  modules/openvino_code/src/constants.ts
  modules/openvino_code/src/inline-completion/completion.service.ts
  modules/openvino_code/src/inline-completion/inline-completion-component.ts
  modules/openvino_code/src/inline-completion/streaming-inline-completion-component.ts
  modules/openvino_code/src/inline-completion/tab.ts
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Preperties of executor config are changed to private (#856)
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
Due: .ci/azure/linux_cuda.yml

Allow to use DevPackage via OpenVINO_DIR (#847)
  modules/custom_operations/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/tokenizer/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Fix MUSE conversion
  modules/custom_operations/user_ie_extensions/tokenizer/tensorflow_translators.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Fix MUSE conversion
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Fix MUSE conversion (#857)
  modules/custom_operations/user_ie_extensions/tokenizer/python/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Add Type Argument To Greedy Decoding
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/utils.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[NVIDIA] REmove ngraph/util dependency
  modules/nvidia_plugin/src/ops/clamp_cudnn.cpp
Due: .ci/azure/linux_cuda.yml

Disable JS API build in azure windows ci by default
  .ci/azure/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[NVIDIA] REmove ngraph/util dependency (#859)
  modules/nvidia_plugin/src/ops/clamp_cudnn.cpp
Due: .ci/azure/linux_cuda.yml

Disable JS API build in azure windows ci by default (#860)
  .ci/azure/windows.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

module version
  modules/custom_operations/pyproject.toml
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__version__.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update __version__.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__version__.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Add Type Argument To Greedy Decoding
  modules/custom_operations/user_ie_extensions/tokenizer/tensorflow_translators.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Del PackedString Representation for Sentencepiece
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
  modules/custom_operations/user_ie_extensions/tokenizer/tensorflow_translators.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Del includes
  modules/custom_operations/user_ie_extensions/tokenizer/tensorflow_translators.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

module version (#861)
  modules/custom_operations/pyproject.toml
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__init__.py
  modules/custom_operations/user_ie_extensions/tokenizer/python/openvino_tokenizers/__version__.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Disabled proxy for NVIDIA
  .github/workflows/history_cuda.yml
  modules/nvidia_plugin/src/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Disabled proxy for NVIDIA (#862)
  .github/workflows/history_cuda.yml
  modules/nvidia_plugin/src/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Change to correct release
  modules/java_api/build.gradle
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Del vars for packed strings
  modules/custom_operations/user_ie_extensions/tokenizer/sentence_piece.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Revert Reshape Translator and Clean Up Unused Code
  modules/custom_operations/user_ie_extensions/tokenizer/tensorflow_translators.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Remove `CoreConfiguration()`
  modules/nvidia_plugin/tests/functional/core_config.cpp
Due: .ci/azure/linux_cuda.yml

Introduced first version of PagedAttention operation
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Added CPU implementation for reshape_and_cache
  modules/custom_operations/user_ie_extensions/paged_attention/attention_impl.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/cache_impl.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/cpu_ops.hpp
  modules/custom_operations/user_ie_extensions/paged_attention/cpu_types.hpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Attention can be compiled
  modules/custom_operations/user_ie_extensions/CMakeLists.txt
  modules/custom_operations/user_ie_extensions/paged_attention/attention_impl.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/cpu_ops.hpp
  modules/custom_operations/user_ie_extensions/paged_attention/cpu_types.hpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Temp commit
  modules/custom_operations/user_ie_extensions/paged_attention/cache_impl.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.cpp
  modules/custom_operations/user_ie_extensions/paged_attention/paged_attention.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Remove `CoreConfiguration()` (#864)
  modules/nvidia_plugin/tests/functional/core_config.cpp
Due: .ci/azure/linux_cuda.yml

Change the load of TBB and GNA to only use the .so.2 id the .so was not found
  modules/java_api/src/main/java/org/intel/openvino/NativeLibrary.java
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Adding FIM support through deepseek-coder-1.3b-instruct and changed model names at FE
  modules/openvino_code/package.json
  modules/openvino_code/shared/features.ts
  modules/openvino_code/shared/model.ts
  modules/openvino_code/side-panel-ui/src/components/sections/ServerSection/ModelSelect/ModelSelect.tsx
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

used ALL_CAPS for model name consistency and replaced 7B with 1_3B
  modules/openvino_code/shared/model.ts
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

fixed frontend modelname
  modules/openvino_code/side-panel-ui/src/components/sections/ServerSection/ModelSelect/ModelSelect.tsx
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

changed version to 0.0.8
  modules/openvino_code/package-lock.json
  modules/openvino_code/package.json
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

changed FIM tokens format in alignment with HF model deepseek-coder format
  modules/openvino_code/package.json
  modules/openvino_code/side-panel-ui/src/components/sections/ServerSection/ModelSelect/ModelSelect.tsx
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

added README for adding Fill in the middle mode support and updated OverviewSection
  modules/openvino_code/README.md
  modules/openvino_code/side-panel-ui/src/components/sections/OverviewSection/OverviewSection.tsx
Due: .ci/azure/android_arm64.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/linux_arm64.yml: any file but: modules/nvidia_plugin
  .ci/azure/linux_coverity_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux_cuda.yml: any of: modules/nvidia_plugin, .ci/azure/linux_cuda.yml, but not: modules/openvino_code
  .ci/azure/mac.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/windows.yml: any file but: modules/nvidia_plugin, modules/openvino_code
