Repository openvinotoolkit/openvino_contrib: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Path conditions:
  .ci/azure/android_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/linux_arm64.yml: any file but: modules/nvidia_plugin
  .ci/azure/linux_coverity_arm64.yml: any file but: modules/optimum, modules/nvidia_plugin
  .ci/azure/linux_cuda.yml: any of: modules/nvidia_plugin, .ci/azure/linux_cuda.yml, but not: modules/openvino_code
  .ci/azure/mac.yml: any file but: modules/nvidia_plugin, modules/openvino_code
  .ci/azure/windows.yml: any file but: modules/nvidia_plugin, modules/openvino_code

[GenAI] Support Token Eviction (#1010)
  modules/genai_optimizations/README.md
  modules/genai_optimizations/benchmarks/README.md
  modules/genai_optimizations/benchmarks/longbench.py
  modules/genai_optimizations/benchmarks/milebench.py
  modules/genai_optimizations/benchmarks/mmebench.py
  modules/genai_optimizations/benchmarks/utils.py
  modules/genai_optimizations/genai_opt/__init__.py
  modules/genai_optimizations/genai_opt/token_eviction.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[JAVA_API] Fix ElementType compatibility problem introduced in 2025.1 (#963)
  modules/java_api/build.gradle
  modules/java_api/src/main/cpp/jni_common.hpp
  modules/java_api/src/main/java/org/intel/openvino/ElementType.java
  modules/java_api/src/test/java/org/intel/openvino/CompiledModelTests.java
  modules/java_api/src/test/java/org/intel/openvino/ModelTests.java
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update cuda_compiled_model.cpp
  modules/nvidia_plugin/src/cuda_compiled_model.cpp
Due: .ci/azure/linux_cuda.yml

fix: Resolve #1013 - [Good First Issue]: OV models don't hold context
  modules/nvidia_plugin/wheel/packages/openvino_nvidia/__init__.py
Due: .ci/azure/linux_cuda.yml

Update usage of shared stream buffer
  modules/nvidia_plugin/src/cuda_plugin.cpp
Due: .ci/azure/linux_cuda.yml

Add onnxscript to custom operation req tests
  modules/custom_operations/tests/requirements.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Fix FFT custom op mapping to use it instead ops in OV
  modules/custom_operations/user_ie_extensions/ov_extension.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Fix FFT evaluate seg faults and update not supported configurations
  modules/custom_operations/tests/run_tests.py
  modules/custom_operations/user_ie_extensions/fft.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Skip calculate_grid test
  modules/custom_operations/tests/run_tests.py
  modules/custom_operations/user_ie_extensions/fft.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Number of inputs in custom FFT compatible with ONNX DFT
  modules/custom_operations/user_ie_extensions/fft.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Revert input check for FFT and set version for onnxscript
  modules/custom_operations/tests/requirements.txt
  modules/custom_operations/user_ie_extensions/fft.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Remove cpplint checks
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  .gitignore
  modules/custom_operations/tests/requirements.txt
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

update ollama_openvino workflow
  .github/workflows/ollama_openvino_build_and_test.yml
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Update usage of shared stream buffer (#1016)
  modules/custom_operations/tests/requirements.txt
  modules/custom_operations/tests/run_tests.py
  modules/custom_operations/user_ie_extensions/fft.cpp
  modules/custom_operations/user_ie_extensions/ov_extension.cpp
  modules/nvidia_plugin/src/cuda_plugin.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[GenAI] Support Token Eviction for LRMs
  modules/genai_optimizations/README.md
  modules/genai_optimizations/benchmarks/README.md
  modules/genai_optimizations/benchmarks/math500_gsm_bench.py
  modules/genai_optimizations/benchmarks/reasoning_parser.py
  modules/genai_optimizations/genai_opt/sparse_attention.py
  modules/genai_optimizations/genai_opt/token_eviction.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[GenAI] Support refined algorithms (KVCrush, DiverseKV)
  modules/genai_optimizations/benchmarks/README.md
  modules/genai_optimizations/benchmarks/math500_gsm_bench.py
  modules/genai_optimizations/benchmarks/reasoning_parser.py
  modules/genai_optimizations/benchmarks/utils.py
  modules/genai_optimizations/genai_opt/__init__.py
  modules/genai_optimizations/genai_opt/token_eviction.py
  modules/genai_optimizations/setup.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

minor fixes
  modules/genai_optimizations/benchmarks/math500_gsm_bench.py
  modules/genai_optimizations/genai_opt/sparse_attention.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Remove usage of deprecated functions
  modules/nvidia_plugin/tests/unit/plugin.cpp
  modules/nvidia_plugin/tests/unit/transformations/cuda_transformations_test.cpp
Due: .ci/azure/linux_cuda.yml

[GenAI] Support Token Eviction for LRMs (#1012)
  modules/genai_optimizations/README.md
  modules/genai_optimizations/benchmarks/README.md
  modules/genai_optimizations/benchmarks/math500_gsm_bench.py
  modules/genai_optimizations/benchmarks/reasoning_parser.py
  modules/genai_optimizations/benchmarks/utils.py
  modules/genai_optimizations/genai_opt/__init__.py
  modules/genai_optimizations/genai_opt/sparse_attention.py
  modules/genai_optimizations/genai_opt/token_eviction.py
  modules/genai_optimizations/setup.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

[NVIDIA] Remove CppLint checks (#1015)
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  .gitignore
  modules/nvidia_plugin/tests/unit/CMakeLists.txt
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/linux_cuda.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Remove usage of deprecated functions (#1020)
  modules/nvidia_plugin/tests/unit/plugin.cpp
  modules/nvidia_plugin/tests/unit/transformations/cuda_transformations_test.cpp
Due: .ci/azure/linux_cuda.yml

Do not use deprecated ov::Model ctr
  modules/nvidia_plugin/tests/unit/op_buffers_extractor_test.cpp
Due: .ci/azure/linux_cuda.yml

Do not use deprecated ov::Model ctr (#1021)
  modules/nvidia_plugin/tests/unit/op_buffers_extractor_test.cpp
Due: .ci/azure/linux_cuda.yml

GFX: add initial Metal plugin skeleton
  modules/metal_plugin/CMakeLists.txt
  modules/metal_plugin/src/CMakeLists.txt
  modules/metal_plugin/src/compiled_model.cpp
  modules/metal_plugin/src/compiled_model.hpp
  modules/metal_plugin/src/infer_request.cpp
  modules/metal_plugin/src/infer_request.hpp
  modules/metal_plugin/src/mps_graph_builder.hpp
  modules/metal_plugin/src/mps_graph_builder.mm
  modules/metal_plugin/src/plugin.cpp
  modules/metal_plugin/src/plugin.hpp
  modules/metal_plugin/tests/CMakeLists.txt
  modules/metal_plugin/tests/metal_basic_ops_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

GFX: reorganize Metal plugin architecture and ops
  modules/metal_plugin/README.md
  modules/metal_plugin/src/CMakeLists.txt
  modules/metal_plugin/src/graph/metal_node.hpp
  modules/metal_plugin/src/graph/mps_graph_builder.hpp
  modules/metal_plugin/src/graph/mps_graph_builder.mm
  modules/metal_plugin/src/graph/mps_node_context.hpp
  modules/metal_plugin/src/graph/mps_node_context.mm
  modules/metal_plugin/src/mps_graph_builder.mm
  modules/metal_plugin/src/ops/common.hpp
  modules/metal_plugin/src/ops/common.mm
  modules/metal_plugin/src/ops/convolution.hpp
  modules/metal_plugin/src/ops/convolution.mm
  modules/metal_plugin/src/ops/elementwise.hpp
  modules/metal_plugin/src/ops/elementwise.mm
  modules/metal_plugin/src/ops/matmul.hpp
  modules/metal_plugin/src/ops/matmul.mm
  modules/metal_plugin/src/ops/pooling.hpp
  modules/metal_plugin/src/ops/pooling.mm
  modules/metal_plugin/src/plugin/compiled_model.cpp
  modules/metal_plugin/src/plugin/compiled_model.hpp
  modules/metal_plugin/src/plugin/infer_request.cpp
  modules/metal_plugin/src/plugin/infer_request.hpp
  modules/metal_plugin/src/plugin/plugin.cpp
  modules/metal_plugin/src/plugin/plugin.hpp
  modules/metal_plugin/src/runtime/mps_executor.hpp
  modules/metal_plugin/src/runtime/mps_executor.mm
  modules/metal_plugin/src/transforms/pipeline.cpp
  modules/metal_plugin/src/transforms/pipeline.hpp
  modules/metal_plugin/tests/metal_basic_ops_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

GFX: add Metal batchnorm and softmax ops
  modules/metal_plugin/src/graph/metal_node.hpp
  modules/metal_plugin/src/graph/mps_graph_builder.mm
  modules/metal_plugin/src/ops/batchnorm.hpp
  modules/metal_plugin/src/ops/batchnorm.mm
  modules/metal_plugin/src/ops/elementwise.mm
  modules/metal_plugin/src/ops/matmul.mm
  modules/metal_plugin/src/ops/softmax.hpp
  modules/metal_plugin/src/ops/softmax.mm
  modules/metal_plugin/src/plugin/plugin.cpp
  modules/metal_plugin/src/runtime/mps_executor.mm
  modules/metal_plugin/tests/CMakeLists.txt
  modules/metal_plugin/tests/metal_basic_ops_test.cpp
  modules/metal_plugin/tests/metal_precision_study_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

GFX: introduce MLIR-based Metal kernel pipeline
  .gitmodules
  modules/metal_plugin/src/CMakeLists.txt
  modules/metal_plugin/src/graph/metal_node.hpp
  modules/metal_plugin/src/graph/mps_graph_builder.hpp
  modules/metal_plugin/src/graph/mps_graph_builder.mm
  modules/metal_plugin/src/graph/mps_node_context.hpp
  modules/metal_plugin/src/graph/mps_node_context.mm
  modules/metal_plugin/src/kernel_codegen/kernel_ir.cpp
  modules/metal_plugin/src/kernel_codegen/kernel_ir.hpp
  modules/metal_plugin/src/kernel_codegen/metal_kernel_compiler.hpp
  modules/metal_plugin/src/kernel_codegen/metal_kernel_compiler.mm
  modules/metal_plugin/src/kernel_codegen/msl_generator.cpp
  modules/metal_plugin/src/kernel_codegen/msl_generator.hpp
  modules/metal_plugin/src/ops/activations.hpp
  modules/metal_plugin/src/ops/activations.mm
  modules/metal_plugin/src/ops/elementwise.mm
  modules/metal_plugin/src/ops/gelu.hpp
  modules/metal_plugin/src/ops/gelu.mm
  modules/metal_plugin/src/ops/layernorm.hpp
  modules/metal_plugin/src/ops/layernorm.mm
  modules/metal_plugin/src/plugin/compiled_model.cpp
  modules/metal_plugin/src/plugin/compiled_model.hpp
  modules/metal_plugin/src/plugin/infer_request.cpp
  modules/metal_plugin/src/plugin/plugin.cpp
  modules/metal_plugin/src/runtime/backend.hpp
  modules/metal_plugin/src/runtime/mlir_backend.hpp
  modules/metal_plugin/src/runtime/mlir_backend.mm
  modules/metal_plugin/src/runtime/mps_executor.hpp
  modules/metal_plugin/src/runtime/mps_executor.mm
  modules/metal_plugin/src/transforms/conv_relu_fusion.hpp
  modules/metal_plugin/src/transforms/pipeline.cpp
  modules/metal_plugin/src/transforms/pipeline.hpp
  modules/metal_plugin/tests/CMakeLists.txt
  modules/metal_plugin/tests/metal_basic_ops_test.cpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Address cross-version compatibility issues
  modules/ollama_openvino/genai/genai.go
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

GFX: route Metal backend logging through metal_logger
  modules/metal_plugin/src/CMakeLists.txt
  modules/metal_plugin/src/kernel_codegen/metal_kernel_compiler.hpp
  modules/metal_plugin/src/kernel_codegen/metal_kernel_compiler.mm
  modules/metal_plugin/src/kernel_ir/kernel_ir_common.hpp
  modules/metal_plugin/src/kernel_ir/matmul_kernel_ir.cpp
  modules/metal_plugin/src/msl/concat_msl.cpp
  modules/metal_plugin/src/msl/concat_msl.hpp
  modules/metal_plugin/src/msl/interpolate_msl.cpp
  modules/metal_plugin/src/msl/interpolate_msl.hpp
  modules/metal_plugin/src/runtime/metal_logger.cpp
  modules/metal_plugin/src/runtime/metal_logger.hpp
  modules/metal_plugin/src/runtime/mlir_backend.mm
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

GFX: refactor MLIR codegen and add layout op paths
  modules/metal_plugin/src/CMakeLists.txt
  modules/metal_plugin/src/kernel_codegen/metal_kernel_compiler_concat.mm
  modules/metal_plugin/src/kernel_codegen/metal_kernel_compiler_interpolate.mm
  modules/metal_plugin/src/kernel_codegen/metal_kernel_compiler_slice.mm
  modules/metal_plugin/src/kernel_codegen/metal_kernel_compiler_split.mm
  modules/metal_plugin/src/kernel_ir/kernel_ir_common.hpp
  modules/metal_plugin/src/mlir/CMakeLists.txt
  modules/metal_plugin/src/mlir/mlir_builder.hpp
  modules/metal_plugin/src/mlir/mlir_builder_concat.cpp
  modules/metal_plugin/src/mlir/mlir_builder_interpolate.cpp
  modules/metal_plugin/src/mlir/mlir_builder_split.cpp
  modules/metal_plugin/src/mlir/mlir_passes.cpp
  modules/metal_plugin/src/mlir_codegen/CMakeLists.txt
  modules/metal_plugin/src/mlir_codegen/codegen_common.hpp
  modules/metal_plugin/src/mlir_codegen/codegen_dispatcher.cpp
  modules/metal_plugin/src/mlir_codegen/concat_codegen.cpp
  modules/metal_plugin/src/mlir_codegen/interpolate_codegen.cpp
  modules/metal_plugin/src/mlir_codegen/split_codegen.cpp
  modules/metal_plugin/src/msl/concat_msl.cpp
  modules/metal_plugin/src/msl/concat_msl.hpp
  modules/metal_plugin/src/msl/interpolate_msl.hpp
  modules/metal_plugin/src/msl/slice_msl.cpp
  modules/metal_plugin/src/msl/slice_msl.hpp
  modules/metal_plugin/src/msl/split_msl.cpp
  modules/metal_plugin/src/msl/split_msl.hpp
  modules/metal_plugin/src/runtime/mlir_backend.mm
  modules/metal_plugin/src/runtime/ops/mlir_backend_op_split.inc
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

Remove usage of deprecated get_ie_output_name() function (#933)
  modules/nvidia_plugin/src/ops/result.cpp
Due: .ci/azure/linux_cuda.yml

[GenAI] Fix cgo callback pointer handling in genai
  modules/ollama_openvino/genai/genai.go
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

update .gitignore
  modules/pointPillars/.gitignore
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

update readme to cite zhulf0804/PointPillars repo
  modules/pointPillars/README.md
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

ov extension
  modules/pointPillars/ov_extensions/CMakeLists.txt
  modules/pointPillars/ov_extensions/build.sh
  modules/pointPillars/ov_extensions/iou3d_utils.cpp
  modules/pointPillars/ov_extensions/iou3d_utils.hpp
  modules/pointPillars/ov_extensions/ov_pointpillars_ext.cpp
  modules/pointPillars/ov_extensions/postprocessing_op.cpp
  modules/pointPillars/ov_extensions/postprocessing_op.hpp
  modules/pointPillars/ov_extensions/voxelization_op.cpp
  modules/pointPillars/ov_extensions/voxelization_op.hpp
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml

pytorch CPP extension
  modules/pointPillars/pointpillars/ops/iou3d/iou3d.cpp
  modules/pointPillars/pointpillars/ops/iou3d/iou3d_kernel_cpu.cpp
  modules/pointPillars/pointpillars/ops/voxelization/voxelization_cpu.cpp
  modules/pointPillars/setup.py
Due: .ci/azure/android_arm64.yml, .ci/azure/linux.yml, .ci/azure/linux_arm64.yml, .ci/azure/linux_coverity_arm64.yml, .ci/azure/mac.yml, .ci/azure/windows.yml
